<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title> <%= team.teamName %> </title>
</head>
<body>
  <h1><%= team.teamName %></h1>
  <h2>Location: <%= team.location %></h2>
  <h3>Abbreviation: <%= team.abbreviation %></h3>
  <br>
  <h3>Players list:</h3>
  <ul>
    <% players.forEach(player => { %>
      <li>
        <form
          action="/players/<%= player._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
        <a href="/players/<%= player._id %>">
          <%= player.lastName %>, <%= player.firstName%>
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="/teams">Teams list</a>
</body>
</html>